<h1>Worker List</h1>
<ul>
<% @workers.each do |worker|%>
<li><%=worker.name%>
<%end%>
<ul>

<h1>Worker Details<h1>
<p>Name: <%= @worker.name%></p>
<p>Age:  <%=worker.age%></p>

<h1>New Worker<h1>

<%form_for @worker do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>

<%=f.label :age%>
<%=f.age_field :age%>

<% =f.submit 'Create Worker'%>
<%end%>